html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 15px;
    background-color: #faebd7;
}